* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "gr-menu gr-main";
  height: 100vh;
  background-image: url(../imgs/bg_main.jpg);
  background-size: cover;
}

.menu {
  display: flex;
  justify-content: space-between;
  grid-area: gr-menu;
  background: rgb(7, 21, 49);
  background: radial-gradient(
    circle,
    rgba(7, 21, 49, 1) 0%,
    rgba(0, 3, 33, 1) 46%,
    rgba(0, 1, 20, 1) 100%
  );
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
}
.logo img {
  min-height: 1rem;
  height: 70%;
}

.menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}

.contenido-menu {
  display: none;
}

.contenido-menu a {
  text-decoration: none;
  color: white;
}

.main {
  grid-area: gr-main;
  color: rgb(30, 48, 80);
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 100%;
}

.conts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont2 {
  justify-content: start;
  padding-top: 3rem;
}

.img-car {
  width: 60%;
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 2fr 10fr;
  }

  .menu {
    flex-direction: column;
    justify-content: start;
  }

  .logo {
    padding-left: 0;
    padding-top: 1rem;
  }
  .logo img {
    height: 3.7rem;
  }

  .menu i {
    display: none;
  }

  .contenido-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: default;
    color: white;
    padding-top: 2.3rem;
  }

  .contenido-menu ul li {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    transition: all 400ms ease;
  }

  .contenido-menu ul li:hover {
    border-left: 5px solid #c7c7c7;
    background: rgba(20, 38, 68, 0.634);
    color: white;
    font-size: 1.1rem;
  }
}
